<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
showMe

<body>
    <div id="root" class="w-100 ">
        <div class="d-flex flex-column text-center justify-content-center">
            <div class="my-5">
                <h1 class="text-white text-uppercase">To do list:</h1>
            </div>
            <!--^ ADD TASKS -->
            <div class="w-25 align-self-center d-flex justify-content-center">
                <button class="button-hover text-white bg-light-grey rounded" @click="toggleFilter"
                    v-if="!isFilterVisible"><i class="fas fa-search text-dark"></i></button>
                <input type="text" placeholder="Add new task to the list" v-model="newTask" @keyup.enter="addNewTask"
                    @keyup.esc="emptyContent">
                <button class="text-white bg-secondary rounded" @click="emptyContent"><i
                        class="fas fa-redo-alt"></i></button>
                <input class="btn btn-info" type="button" value="Add" @click="addNewTask">
            </div>
            <!--^ FILTER -->
            <div id="filter" class="input-group flex-nowrap mt-5 w-50 d-flex justify-content-center align-self-center"
                v-if="isFilterVisible">
                <span @click="toggleFilter" class="button-hover input-group-text bg-danger border-0 text-white"><i
                        class="fas fa-times"></i></span>
                <input type="text" class="form-control" placeholder="Search task.." aria-label="Username"
                    aria-describedby="addon-wrapping" v-model="searchTerm" @keyup.esc="toggleFilter">
                <span class="button-hover input-group-text border-0"><i class="fas fa-search"></i></span>
            </div>
            <!--^ TASKS LIST -->
            <div class="w-50 align-self-center d-flex" v-if="dailyTasks.length">
                <ul class="list-group w-100 my-5">
                    <!--? v-on:dbclick PER METTERE IL COLORE VERDE E LA SCRITTA CON IL DOPPIO CLICK SUL LI -->
                    <li class=" bg-light-black text-white task padding-list list-group-item d-flex justify-content-between align-items-center single-task"
                        @dblclick="taskStatus(index)" :class="isDone(index) ? 'done' : ''"
                        v-for="(task, index) in dailyTasks" v-if="showMe(task.text)">
                        <input class="form-check-input text-white" type="checkbox" value="" aria-label="...">
                        {{ index+1 }}) {{ task.text }}.

                        <span :class="isDone(index) ? 'd-inline-block' : 'd-none'"
                            class="text-uppercase font-weight-bold color-light-green">Task done <i
                                class="fas fa-check"></i></span>
                        <button id="close-button" type="button" class="btn-close button-hover" aria-label="Close"
                            @click="deleteTask(index)">
                            <i class="fas fa-times text-white"></i>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="align-self-center d-flex bg-light-black my-5" v-if="!dailyTasks.length">
                <h1 class="text-uppercase text-success">There are no more tasks to do. </h1>
            </div>
        </div>
        <!--^ TASKS DONE/UNDONE COUNTER -->
        <div class="text-white text-center h4">
            <div class="d-inline-block mx-sm-5 bg-light-black my-2">Accomplished tasks number: {{
                accomplishedTasksNumber
                }}.
            </div>
            <div class="d-inline-block bg-light-black my-2">Unaccomplished tasks number: {{ dailyTasks.length }}.</div>
        </div>
    </div>
    <script src="./script.js"></script>
</body>